<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="testPlugin1.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="testplugin1.actions.SampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="testplugin1.actions.SampleAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="testPlugin1.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="testPlugin1.commands.category"
            id="testPlugin1.commands.sampleCommand">
      </command>
      <category
            name="Sample Project Nature commands"
            id="testPlugin1.sampleNature.category">
      </category>
      <command
            name="Add/RemoveSample Project Nature"
            defaultHandler="testplugin1.builder.AddRemoveSampleNatureHandler"
            categoryId="testPlugin1.sampleNature.category"
            id="testPlugin1.addRemoveSampleNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="testPlugin1.commands.sampleCommand"
            class="testplugin1.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="testPlugin1.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="testPlugin1.menus.sampleMenu">
            <command
                  commandId="testPlugin1.commands.sampleCommand"
                  mnemonic="S"
                  id="testPlugin1.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="testPlugin1.toolbars.sampleToolbar">
            <command
                  commandId="testPlugin1.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="testPlugin1.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="testPlugin1.addRemoveSampleNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              value="testPlugin1.sampleNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="testPlugin1.addRemoveSampleNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 value="testPlugin1.sampleNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Sample Page"
            nameFilter="*.*"
            class="testplugin1.properties.SamplePropertyPage"
            id="testplugin1.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="testplugin1.editors.XMLEditor"
            id="testplugin1.editors.XMLEditor">
      </editor>
      <editor
            name="Sample Multi-page Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="testplugin1.editors.MultiPageEditorContributor"
            class="testplugin1.editors.MultiPageEditor"
            id="testplugin1.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="testPlugin1.contribution1">
         <menu
               label="New Submenu"
               path="additions"
               id="testPlugin1.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="New Action"
               class="testplugin1.popup.actions.NewAction"
               menubarPath="testPlugin1.menu1/group1"
               enablesFor="1"
               id="testPlugin1.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="My Common Navigator"
            icon="icons/sample.gif"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="com.example.test">
      </view>
      <category
            name="Sample Category"
            id="testPlugin1">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="testPlugin1"
            class="testplugin1.views.SampleView"
            id="testplugin1.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.example.test">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.example.test">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               relationship="stack"
               id="com.example.test">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="testplugin1.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="testPlugin1">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.gif"
            category="testPlugin1"
            class="testplugin1.wizards.SampleNewWizard"
            id="testplugin1.wizards.SampleNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sample Preferences"
            class="testplugin1.preferences.SamplePreferencePage"
            id="testplugin1.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="testplugin1.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            state="true"
            id="testPlugin1.decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Sample File Import"
            id="testplugin1.importWizards.sampleCategory">
      </category>
      <wizard
            name="Import File"
            icon="icons/sample.gif"
            category="testplugin1.importWizards.sampleCategory"
            class="testplugin1.importWizards.ImportWizard"
            id="testplugin1.importWizards.ImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/sample.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Release Engineering"
            icon="icons/releng_gears.gif"
            class="testplugin1.perspectives.RelEngPerspective"
            id="testplugin1.perspectives.RelEngPerspective">
      </perspective>
   </extension>
   <extension
         id="sampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="testplugin1.builder.SampleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="testplugin1.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="testPlugin1.sampleBuilder">
      </builder>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="testplugin1.splashHandlers.InteractiveSplashHandler"
            id="testplugin1.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="testplugin1.splashHandlers.interactive"
            productId="org.eclipse.epp.package.standard.product">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <template
            autoinsert="true"
            contextTypeId="javadoc"
            description="@memoタグを追加します"
            id="testPlugin1.template1"
            name="memo">
         <pattern>
            pattern body text
         </pattern>
      </template>
   </extension>

</plugin>
